@model MvcHelper.PagerContext

<ul class="pagination">
    @if (!string.IsNullOrEmpty(Model.FirstLink) && Model.CurrentPage != 1)
    {
        <li><a href="@Html.Raw(Model.FirstLink)">First</a></li>
    }
    else
    {
        <li class="disabled"><a>First</a></li>
    }
    @if (!string.IsNullOrEmpty(Model.PrevLink))
    {
        <li><a href="@Html.Raw(Model.PrevLink)">Prev</a></li>
    }
    else
    {
        <li class="disabled"><a>Prev</a></li>
    }

    @foreach (var item in Model.PageLinks)
    {
        if (item.PageNumber == Model.CurrentPage)
        {
            <li class="active"><a>@item.PageNumber</a></li>
        }
        else
        {
            <li><a href="@Html.Raw(item.LinkUrl)">@item.PageNumber</a></li>
        }
    }

    @if (!string.IsNullOrEmpty(Model.NextLink))
    {
        <li><a href="@Html.Raw(Model.NextLink)">Next</a></li>
    }
    else
    {
        <li class="disabled"><a>Next</a></li>
    }
    @if (!string.IsNullOrEmpty(Model.LastLink) && Model.CurrentPage != Model.TotalPageCount)
    {
        <li><a href="@Html.Raw(Model.LastLink)">Last</a></li>
    }
    else
    {
        <li class="disabled"><a>Last</a></li>
    }
</ul>