@{
    ViewBag.Title = " 削除";
    var returnUrl = ViewBag.__ReturnUrl as string;
}


<h2>削除</h2>
@Html.ValidationSummary(false)

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    @Html.Hidden("__ReturnUrl")
    <hr />
    <div>
        <dl class="dl-horizontal">
            @Html.DisplayForModel()
        </dl>
    </div>
    <hr />
    <p>
        <input type="submit" class="btn btn-primary" value="削除">
        @Html.Partial("Parts/ReturnLinkButton")
    </p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
